
.bg-global{
    background: rgb(255, 255, 255);
}
.bg-textbox{
    background: #045970;
}
.tc-blue-1{
    color: #045970;
}
.tc-blue-2{
    color: #36aac9;
}
.tc-white{
    color: #FFFFFF;
}
.tc-grey{
    color: #768487;
}

.tw-light{
    font-weight: 300;
}
.tw-regular{
    font-weight: 400;
}
.tw-medium{
    font-weight: 500;
}